# Отключить кеширование (True/False)
DISABLE_CACHE=False

# Путь к файлу базы данных DuckDB
DUCKDB_PATH=cache_data.duckdb

# Отключить логирование (True/False)
DISABLE_LOGGING=False

# Уровень логирования (по умолчанию INFO)
LOG_LEVEL="INFO"

# Путь для записи логов (оставьте пустым для вывода только в stdout)
LOG_PATH=
