# Отключить кеширование (True/False)
DISABLE_CACHE=False

# Путь к файлу базы данных DuckDB
DUCKDB_PATH=cache_data.duckdb

# Отключить логирование (True/False)
DISABLE_LOGGING=False

# Уровень логирования
LOG_LEVEL="INFO"

# Путь для записи логов (оставьте пустым для вывода в stdout)
LOG_PATH=

# Формат лог-сообщений
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
